.experiencias h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.experiencia{
    display: grid;
    grid-template-areas: 
        "barbearia"
        "crip"
        "jogo";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    gap: 5rem;
    padding-top: 5.5rem;
}
.barbearia{
    grid-area: barbearia;
    display: flex;
    justify-content: center;
}
.div_imagem{width: 40%; }
.div_imagem img{width: 100%; border-radius: 15px;}
.div_imagem img:hover{ border: 5px solid #06045b; transition: 300ms;}
.div_botoes{line-height: 2rem; width: 40%; display: flex; flex-direction:column; align-items: flex-end;}
.div_botoes h3{font-size: 2rem;}
#excecao-experiencia{
    display: flex;
    align-items: flex-start;
}
.experiencia_botoes{
    padding: 1rem ;
    font-weight: 700;
    color: #06045b;
    width:10rem;
}
.experiencia_botoes:hover{
    color: #fdfdfd;
    background-color: #a09eff;
    transition: 400ms;
}

.experiencia_botoes:active{
    background-color: #06045b;
    color: rgb(163, 163, 245);
    transition: 400ms;
}
.crip{
    grid-area: crip;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.jogo{
    grid-area: jogo;
    display: flex;
    justify-content: center;
}
