.experiencias h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.experiencia{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5.5rem 3rem 0 3rem;
    width: 90%;
    max-width: 1242px;
    margin: auto;
    margin-top: 1rem;
    overflow: auto;
    height: 400px;
    box-shadow: 0px -5px 35px -9px rgba(0,0,0,0.7) inset;
    border: 1px solid #d1d1d1;
}
.div_imagem{width: 50%; }
.div_imagem img{width: 100%; border-radius: 15px;}
.div_imagem img:hover{ border: 5px solid #06045b; transition: 300ms;}
.div_botoes{line-height: 2rem; width: 50%; display: flex; flex-direction:column; align-items: flex-end; gap: .3rem}
.div_botoes h3{font-size: 2rem;}
#excecao-experiencia{
    display: flex;
    align-items: flex-start;
}
.direcao-contraria-organiza-card-experiencia{
    flex-direction: row-reverse;
}
.experiencia_botoes{
    padding: 1rem ;
    font-weight: 700;
    color: #06045b;
    width:10rem;
}
.experiencia_botoes:hover{
    color: #fdfdfd;
    background-color: #a09eff;
    transition: 400ms;
}

.experiencia_botoes:active{
    background-color: #06045b;
    color: rgb(163, 163, 245);
    transition: 400ms;
}
.logos-projetos{
    display: flex;
}
.logos-projetos img{
    width: 1.3rem;
}
.section-item-experiencia{
    gap:1rem;
    display: flex;
    justify-content: space-between;
}