.logotipo{
    display: flex;
    align-items: center;
}
.logotipo img{
    width: 3rem;
}
.menu{
    display: flex;
    font-size: 0.8rem;
}
.menu li{
    margin-right: 2rem;
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu li:hover{
    color: rgb(163, 163, 245);
    transition: 400ms;
}
#last_child{
    margin-right: 0;
}
.email_contato{
    display: none;
}